@layer theme, base, antd, components, utilities;

@import 'tailwindcss';
@custom-variant dark (&:is(.dark *));

@theme {
  /*与antd主题同步*/
  --color-primary-50: #e6f3ff;
  --color-primary-100: #b3d7ff;
  --color-primary-200: #8abeff;
  --color-primary-300: #61a3ff;
  --color-primary-400: #3884ff;
  --color-primary-500: #0f60f8;
  --color-primary-600: #0244d1;
  --color-primary-700: #0030ab;
  --color-primary-800: #002185;
  --color-primary-900: #00145e;

  /*与antd主题同步*/
  --breakpoint-xs: 480px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1600px;

  /*与antd主题同步*/
  --radius-xs: 6px;
  --radius-sm: 8px;
  --radius-md: 10px;
  --radius-lg: 12px;
  --radius-xl: 14px;
  --radius-2xl: 16px;
  --radius-3xl: 18px;
  --radius-4xl: 20px;


  /*colorBgContainer*/
  --color-layout: #fff;
  /*siderBg*/
  --color-sider: #f9fafb;
}


html.dark {
  /*colorBgContainer*/
  --color-layout: #212121;
  /*siderBg*/
  --color-sider: #171717;
}


html {
  background-color: var(--color-layout);
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  max-width: 80rem;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}
